extends ./layouts/main
block vars
    -
        const title = "Info"
        const news = [
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
            {title:"Пример заголовка статьи"},
        ]
block content
    include ./components/mixins
    +breadcrumbs(title)
    .container.mb-4
        h1 Info-club: Полезные статьи
        each item in news 
            include ./includes/newsCard
        