extends ./layouts/main
block vars
    - const title = "О клубе"
block content
    include ./components/mixins
    +breadcrumbs(title)
    .container.mb-2
        h1 FAQ
        .d-flex.polygon-2
            .flex-1
                p Ознакомьтесь с ответами на самые популярные вопросы Клиентов и посетителей Клуба.
                    | Если не найдёте нужной информации, напишите мне лично!
