extends ./layouts/main
include ./components/mixins
block vars
    -
        const title = "Расписание"

block content
    +breadcrumbs(title)
    .container
        h1 Расписание
        .polygon-5.bgr-blue.p-2.mb-6
            .d-flex.gap-2
                div
                    img(src=require('../img/lang-6.png'))
                .flex-1
                    p Учтите следующие моменты при составлении и работы с графиком:
                    p а) В день вы не можете проводить более 10 полных классов.
                    p б) Назначить классы клиент может только в ХХ:00 минут или в ХХ:30 минут. К примеру в 9:00, 9:30, 10:00, 10:30 и т.д.;
            p в) На принятие класса от клиента, Вам отводиться 24 часа. Могут прийти несколько заявок на класс, на одно и тоже время, или возможно на пересекающеюся интервалы времени. К примеру с 13:00 до 13:25, с 13:00 до 13:50; с 12:30 до 13:20. Первый принятый класс - отменит остальные заявки. Клиенту прийдет уведомелния “Извините спикер уже согласовал класс с другим пользователем”. Чтобы не терять Ваших потенциальных клиетнов, рекомендуем заблоговременно определиться с приоритетным клиентом, а другим предложить перенести класс на другой свободный промежуток времени. Вы можете использовать для этого “текстовый чат” заявки.
            p г) При редактировании, начальной точкой времени всегда считается завтрашний день.
            p К примеру, если у Вас сейчас 12:46, то время начала редактирования графика будет считаться завтрашний день с 12:46. Это связано с тем, что на заявку отводиться 24 часа. К тому же, спикерам необходимо подготовиться.

        .d-flex.gap-3.mb-3
            include ./includes/timepanel
            include ./includes/timepanel
        .d-flex.gap-3
            .flex-10
                img(src=require('../img/calendar-plch.png'))
            .clocks.flex-10
                .class-add__subtitle Часы работы
                    strong на 16 июля 2021:
                .d-flex
                    #clock
                    #clock2
                p
                    strong ИСТОРИЯ:
                .clocks__history_list
                    .clocks__history_item
                        div(style="background-color: #dedeed;")
                        | Нерабочие часы
                    .clocks__history_item
                        div(style="background-color: #000066;")
                        | Рабочее время спикера
                    .clocks__history_item
                        div(style="background-color: #ff0000;")
                        | Назначен Ваш класс/заявка
        .classes-count
            p На 16 июля 2021 у Вас доступно следующее количество классов:
            .d-flex
                .classes-count__value
                    div 8
                    div
                        div 1/2
                        div класса
                ul.ml-3
                    li.full
                    li.full
                    li.full
                    li.full
                    li.half
                    li
                    li
                    li
                    li
                    li
    script
        include ../js/clock.js