.header-notification#notification-1
    .container
        .d-flex.align-items-center
            .header-notification__text Получите 50% скидку за первый класс!
            a.header-notification__link Выбрать спикера →
            .header-notification__close(data-parent="notification-1")