.d-flex
    .quest-form
        h3 Задайте мне вопрос!
        .d-flex.quest-form__row.mb-2
            .quest-form__input
                label
                    input(placeholder='Ваше имя')
                    span Ваше имя
            .quest-form__input
                label
                    input(placeholder='Ваш e-mail')
                    span Ваш e-mail
        .d-flex.quest-form__row
            .quest-form__input
                label
                    input(placeholder='Ваш вопрос')
                    span Ваш вопрос
            button.btn.btn-3.btn_arrow


    img(src=require('../../img/lang-0.png'))