.quiz.mb-8
    .quiz__lang.pl-5
        img(src=require('../../img/lang-5.png'))
    .flex-1.pr-5
        .quiz__quest
            .quiz__quest_wrap Who is this Famous Man?
        .d-flex.gap-3
            .quiz__image
                img(src=require('../../img/img-2.png'))
            .flex-10
                p Choose the right answer:
                .quiz__answer_list
                    .quiz__answer
                        .quiz__answer_content Belgian actor
                    .quiz__answer
                        .quiz__answer_content Belgian writer
                    .quiz__answer
                        .quiz__answer_content Belgian football coach
                    .quiz__answer
                        .quiz__answer_content Belgian politician

        .btn.btn-4 Подтвердить
    .quiz__nav
        .quiz__count
            div 6
            div /10
                br
                span вопросов
        ul
            li.quiz__wrong
            li.quiz__right
            li.quiz__right
            li.quiz__wrong
            li.quiz__right
            li.quiz__current
            li
            li
            li
            li

.quiz.mb-8
    .quiz__lang.pl-5
        img(src=require('../../img/lang-5.png'))
    .flex-1.pr-5
        .quiz__quest
            .quiz__quest_wrap The capital of Iran?
        .d-flex.gap-3

            .flex-10
                p Choose the right answer:
                .quiz__answer_columns
                    .quiz__answer_list
                        .quiz__answer
                            .quiz__answer_content Belgian actor
                        .quiz__answer
                            .quiz__answer_content Belgian writer
                    .quiz__answer_list
                        .quiz__answer
                            .quiz__answer_content Belgian football coach
                        .quiz__answer
                            .quiz__answer_content Belgian politician

        .btn.btn-4 Подтвердить
    .quiz__nav
        .quiz__count
            div 7
            div /10
                br
                span вопросов
        ul
            li.quiz__wrong
            li.quiz__right
            li.quiz__right
            li.quiz__wrong
            li.quiz__right
            li.quiz__current
            li
            li
            li
            li