
.splide#banners
    .splide__track
        ul.splide__list
            li.splide__slide
                .custom-slide
                    .custom-slide__content
                        .custom-slide__title Привет, меня зовут Лэнг...
                        .custom-slide__text В Клубе я отвечаю за атмосферу.
                            br
                            | Моя задача – чтобы Вам здесь было интересно и комфортно.
                            br
                            | Я готов ответить на любые Ваши вопросы – пишите, не стесняйтесь!
                            br
                            | Только не спрашивайте, кто я и как здесь оказался, договорились?
                        .d-flex
                            button.btn.btn-1 Выбрать спикера

