.speaker-card
    .speaker-card__avatar
        img(src=require('../../img/speaker-0.png'))
    .speaker-card__info-wrap
        .speaker-card__name Александр
        .d-flex.speaker-card__country
            .speaker-card__flag
            | Великобритания
        .speaker-card__descr
            div Проводит классы для:
            div Детей, подростков, взрослых
        .speaker-card__descr
            div Любимые темы:
            div Путешествия, спорт ...
                button.speaker-card__more Ещё
        .speaker-card__descr
            div Владеет языками:
            div Русским, французским испанским
        .d-flex.flex-between
            button.btn.btn-2 Подробнее
            button.speaker-card__fav