@import 'variables';
body {
  margin: 0;
  font-family: "Acrom", serif;

}

* {
  box-sizing: border-box;
  text-underline-offset: 5px;
}

h2 {
  color: #000066;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

p {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;

  strong {
    color: #000066;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-narrow {
    max-width: 900px;
    margin: auto;
  }
}
.w {&-100 {width: 100%}}
.mb {
  &-2 {
    margin-bottom: 40px;
  }
}

.bgr {
  &-blue {
    background-color: #f3f3fc
  }
}

img {
  max-width: 100%;
}

.container {
  max-width: 1530px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1600px) {
    max-width: 1230px;
  }
  @media (max-width: 1300px) {
    max-width: 1130px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.d {
  &-flex {
    display: flex;
  }
}

.flex {
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
  &-column {
    flex-direction: column;
  }
  &-1 {
    flex: 1;
  }

  &-25 {
    flex-basis: 25%;
  }
}

.align-items-center {
  @extend .d-flex;
  align-items: center;
}

.personal-info {
  color: #0a0a6e;

  &__title {
    opacity: 0.6;
    font-size: 11px;
    font-weight: 400;
  }

  &__value {
    font-size: 15px;
    font-weight: 700;
  }
}

.btn {
  background: unset;
  border: unset;
  outline: unset;

  &-1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    background-image: linear-gradient(to right, #26267d 0%, #7d265a 100%);
    border-radius: 15px;
    padding: 20px 40px;
    border-bottom: solid 6px transparentize(#ffffff, .8);
  }

  &-2 {
    background-color: #dedeed;
    padding: 15px 40px;
    border-radius: 30px;
    color: #000066;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.43px;
    text-decoration: underline dotted;

    &:hover {
      background-color: #ffffff;
    }
  }

  &-3 {
    box-shadow: 0 4px 16px rgba(0, 1, 2, 0.33);
    background-color: #ffffff;
    padding: 20px 35px;
    border-radius: 50px;
    color: #000066;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-4 {
    mask: url('../img/btn-mask.png');
    mask-size: 100% 100%;
    background-color: #e6e6f9;
    color: #000066;
    padding:  25px 40px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;
    text-decoration: underline dotted;
  }
  &_arrow {
    display: flex;
    align-items: center;
    gap: 10px;

    &:after {
      content: "";
      background-image: url('../img/pay-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 33px;
      height: 21px;
    }
  }
}

.header-notification {
  background-image: linear-gradient(to right, #26267d 0%, #7d265a 100%);
  .d-flex {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 25px;
  }
  &__text{
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.85px;
    strong {
      color: #ff0000;
    }
  }
  &__link{
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0.85px;
    text-decoration: underline dotted;
    text-underline-offset: 5px;
  }
  &__close{
    cursor: pointer;
    margin-left: auto;
    &:before {
      content: url('../img/ico-close.svg');
    }
  }
}

.quest-form {
  flex: 1;
  clip-path: $poligon;
  background-image: linear-gradient(to right, #26267d 0%, #7d265a 100%);
  padding: 40px;
  color: #fff;
  &__row {
    gap: 40px;
  }
  &__input {
    flex: 1;
    label {
      display: flex;
      flex-direction: column-reverse;
      span {
        color: #9494e4;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.6px;
        opacity: 0;
      }
      input {
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.75px;
        padding: 15px 0;
        background: unset;
        outline: unset;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-bottom: solid 1px #5858d9;
        &::placeholder {
          color: #ffffff;
        }
        &:focus {
          border-color: #ffffff;
          +span {
            opacity: 1;
          }
        }
      }
    }
  }
  h3 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }
}

